* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background: #dcf4ff;
    overflow-x: hidden;
}

.navbar-nav .nav-link.active {
    background: linear-gradient(360deg, rgb(76, 245, 254) 5%, #dcf4ff 40%);
}

.card {
    width: 90%;
    max-width: 500px;
    background: linear-gradient(165deg, rgba(0, 255, 253, 1) 49%, rgba(85, 255, 0, 1) 100%);
    color: #517a8d;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.searchBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBox input {
    border: 0;
    outline: 0;
    background: #dcf4ff;
    color: rgb(65, 65, 90);
    padding: 10px 25px;
    height: 60px;
    border-radius: 20px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.searchBox button {
    border: 0;
    outline: 0;
    background: #dcf4ff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.searchBox button img {
    width: 20px;
}

.weatherIcon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
}

.colText p {
    margin-bottom: 0rem;
    margin-left: 5px;
}

.col img {
    width: 40px;
    filter: brightness(1) invert(50%) sepia(1) hue-rotate(180deg);
}

.humidity,
.wind {
    font-size: 20px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    display: none;
}